/* 전체적인 세팅부터 */
* {
  box-sizing: border-box;
}

html {
  width: 100%;
  background-color: antiquewhite;
}

.container {
  height: 350px;
  border-radius: 30px;
  background-color: white;
  margin: 0 auto;
  font-size: 0;
  overflow: hidden;
  white-space: nowrap;
}

.box-left {
  display: inline-block;
  width: 300px;
  height: 350px;
  background-color: #ffdfdf;

}
.box-left_text {
  text-align: center;
  font-size: 20px;
}
.fun {
  color: black;
  line-height: 20px;
}
.fun p:nth-child(1) {
  font-size: 40px;
}
.fun p:nth-child(2) {
  font-size: 30px;
  font-family: "Bagel Fat One", system-ui;
}
.fun p:nth-child(3) {
  font-size: 25px;
  font-family: "Nanum Pen Script", cursive;
}

.hobby {
  color: black;
  font-size: 23px;
  font-family: "Nanum Pen Script", cursive;
}

.box-right {
  display: inline-block;
  vertical-align:top;
  width: 1194px;
  height: 350px;
  background-color: #e5f7ff;
}
.box-right_text {
  text-align: left;
  font-size: 20px;
  padding-left: 30px;
  line-height: 39px;
}
.head p:nth-child(1) {
  font-size: 33px;
  font-family: "Bagel Fat One", system-ui;
}
.head p:nth-child(2) {
  font-size: 25px;
  font-family: "Nanum Pen Script", cursive;
}
.time {
  color: black;
  font-size: 23px;
  font-family: "Nanum Pen Script", cursive;
}
