div{
  width: 650px;
  height: 800px;
  border: 4px solid black;
  background-color:antiquewhite;
  margin: 0 auto;
}

table{
  border: 2px solid black;
  border-spacing: 10px;
  margin: 0 auto;
}

#week{
  margin-bottom: 20px;
  border-collapse: collapse;
  margin-top: 10px;
  width: 630px;
}

tbody th{
  font-size: 22px;
}

tbody th, td{
  border: 3px solid;
}

p{
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 0;
  margin-left: 60px;
}

hr{
  width: 500px;
  border: 1px solid black;
}

tbody tr{
  text-align: left;
}

.pic{
  background-color: white;
}


#text{
  width: 630px;
  height: 240px;
  font-size: 23px;
  margin: auto;
  text-align: center;
  border-collapse: collapse;
}
.contents tr td{
  border: 1px solid black;
  background-color: white;
  height: 30px; /*여백 만들기*/
}


