.chat-screen_texts {
  padding: 0;
  list-style-type: none;
}

/* 상대 말풍선 */
.chat-screen_texts > .text {
  background-color: white;
  width: 280px;
  height: 50px;
  margin: 0 0 10px 0;
  padding: 10px;
  border-radius: 8px;
  line-height: 30px;
  position: relative;
  left: 20px;
}

.chat-screen_texts > .text::after {
  content: "";
  border-right: 16px solid white;
  border-bottom: 16px solid transparent;
  position: absolute;
  top: 10px;
  left: -10px;
}

.chat-screen_texts > .text:hover {
  background-color: #50c6ff;
  transition: background-color 1500ms 200ms ease-in;
}
.chat-screen_texts > .text:hover::after {
  border-right: 16px solid #50c6ff;
  transition: border-right 1500ms 200ms ease-in;
}

.chat-screen {
  overflow: auto;
}

/* 본인 말풍선 */

.chat-screen_texts > .text2 {
  background-color: white;
  width: 280px;
  height: 50px;
  margin: 0 0 10px 0;
  padding: 10px;
  border-radius: 8px;
  line-height: 30px;
  position: relative;
  right: -1190px;
}

.chat-screen_texts > .text2::before {
  content: "";
  border-right: 16px solid transparent;
  border-top: 16px solid white;
  position: absolute;
  top: 10px;
  right: -10px;
}

.chat-screen_texts > .text2:hover {
  background-color: #50c6ff;
  transition: background-color 1500ms 200ms ease-in;
}
.chat-screen_texts > .text2:hover::after {
  border-right: 16px solid #50c6ff;
  transition: border-right 1500ms 200ms ease-in;
}
